.main .card-page{
	h1:not(.title){
		font-weight: 400;
		font-size: 30px;
		line-height: 1;
		font-family: "Fira Sans Condensed";
		margin-bottom: 0;
	}
	.articul{
		font-size: 14px;
		font-weight: 400;
	}

	.reviews-short{
		margin-top: 15px;
		font-size: 14px;
		img{
			display: block;
		}
	}
	.review-count{
		margin-left: 1rem;
	}

	.submit-wrapper{
		position: relative;
		&:hover{
			.tooltip{
				top: -75px;
				opacity: 1;
			}
		}
		.tooltip{
			transition: .3s;
			opacity: 0;
			align-items: center;
			background-color: $color7;
			border-radius: 5px;
			top: -70px;
			color: $color2;
			display: flex;
			height: 60px;
			justify-content: center;
			left: -32px;
			position: absolute;
			width: 143px;
			&:after{
				@extend .before;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #19bd9b;
				bottom: -10px;
			};
		}
	}

	.to-cart{
		align-items: center;
		display: flex;
		margin-top: 35px;
		.button{
			background-color: #ebedef;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			display: block;
			height: 58px;
			margin-left: 10px;
			transition: .3s;
			width: 58px;
			&:hover{
				background: $color7;
				img{
					filter: grayscale(0) brightness(5);
				}
			}
		}
	}
	.price{
		color: $color3;
		font-size: 26px;
		font-weight: 700;
		margin-right: 5px;
		span{
			font-weight: 400;
		}
	}

	.variations{
		margin-top: 3.5rem;
		&-title{
			font-size: 16px;
		}
	}

	.share{
		margin-top: 3.5rem;

		
		.pluso{
			margin-top: 10px;
			&-wrap{
				vertical-align: middle
			}
		}
		.pluso-twitter,
		.pluso-facebook,
		.pluso-pinterest
		{
			background-position: 0 0 !important;
			background-size: no-repeat;
			margin-top: 0;
			margin-right: 8px;
		}

		
		.pluso-facebook{
			background-image: url(images/share/fb.png);
			height: 22px;
			width: 11px;
		}
		.pluso-twitter{
			background-image: url(images/share/twitter.png);
			height: 18px;
			width: 21px;
		}

		.pluso-pinterest{
			background-image: url(images/share/pinterest.png);
			height: 23px;
			width: 18px;
		}

		.pluso-more{
			display: none !important;
		}
	}

	.text,
	.reviews{
		margin-top: 4rem;
	}

	.text{
		table{
			border-top: 1px solid $color12;
			border-bottom: 1px solid $color12;
			th,
			td{
				padding: 1.5rem 0;
				text-align: center;
			}
			tr{
				th{
					border-bottom: 2px solid $color12;					
				}
			}

			tr:nth-child(2n + 1){
				td{
					background-color: #f6f8fa
				}
			};
		}
	}


	#gallery-thumbs{
		.slick-list,
		.slick-track{
			height: 630px !important;
		}
		.slick-track{
			transform: translate3d(0px, 0px, 0px) !important;
		}
	}
}


@media (min-width: 1250px){
	.card{
		&__right{
			min-height: 653px
		}
		&__reviews{
			margin-top: 4rem;
		}
	}
}



#gallery-thumbs{
	width: 113px;
	img{
		border-radius: 10px;
		display: block;
	}
	.slick{
		&-slide{
			cursor: pointer;
			margin-bottom: 14px;
			img{
				border: 2px solid rgba(0,0,0,0);
				border-radius: 10px;
				transition: border .3s;
			}
			&:hover{
				img{
					border-color: $color3;
				}				
			}
		}

		&-current{
			img{
				border-color: $color3;
			}
		}
	}
}

#gallery-main{
	margin-left: 28px;
	width: 615px;

	.slick{
		&-dots{
			display: flex;
			justify-content: center;
			padding-left: 0 !important;

			li{
				padding-left: 0 ;
				margin: 0 4px;
				button{
					background: #ebedef;
					border-radius: 50%;
					border: none;
					cursor: pointer;
					display: block;
					height: 9px;
					padding: 0 !important;
					text-indent: -9999em;
					width: 9px;
				}
				&:before{
					display: none !important
				}
				&.slick-active{
					button{
						background-color: $color3;
					}
				}
			}
		}
	}

	img{
		display: block;
		height: 614px;
		width: 614px;
	}
}

.select_tabs{
	display: flex;
	margin-top: 12px;
}

.select_tabs span{
	display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  transition: .3s;
}


#tab_selectify_size{
	span{
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $color3;
		color: #35495c;
		font-size: 16px;

		&:hover,
		&.active{
			background-color: $color3;
			color: $color2;
		}
	}
}

#tab_selectify_color{
	span{
		text-indent: -9999em;
		position: relative;
		&:hover,
		&.active{
			&:before, 
			&:after{
				@extend .before;
				z-index: 2;
			}
			&:before{
				left: calc(50% - 1px);
				top: calc(50% - 1px);
				background: $color2;
				width: 2px;
				height: 2px;
			}

			&:after{
				border-radius: 50%;
				left: calc(50% - 19px);
				top: calc(50% - 19px);
				width: 38px;
				height: 38px;
				border: 1px solid #c2c2c2;
			}
		}
	}
}


// =coments
.commentlist{
	list-style: none;
	margin-left: 0 !important;

	.comment{
		margin: 3rem 0;
		&_container{

		}
		&-text{
			
		}

		.meta{
			color: #35495c;
			.woocommerce-review__published-date{
				margin-left: 5px;
			}
		}

		.description{
			margin-top: 1rem;
		}
		.woocommerce-review{
			&__author{
				color: $color3;
				font-size: 1.8rem;
			}
			&__dash{
				display: none;
			}

			&__published-date{
				margin-left: 0 !important;
				display: block;
				font-size: 1.4rem;
			}
		}

		.star-rating {

			float: right;
			overflow: hidden;
			position: relative;
			height: 17px;
			line-height: 1;
			font-size: 1em;
			width: 95px;
			font-family: star;
			top: 34px;

			&:before{
				background: url(images/star.png) repeat-x;
				content: "";
				height: 17px;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
			span {
				background: url(images/star-full.png) repeat-x;
				float: left;
				left: 0;
				overflow: hidden;
				padding-top: 1.5em;
				position: absolute;
				top: 0;
			}
		}
	}
}

.comment-respond{
	margin-top: 50px;
	.comment-reply-title{
		font-size: 18px;
		text-transform: uppercase;
	}

	.comment-form-rating{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

#review_form{
	label{
		display: block;
		font-size: 14px;
		margin-top: 10px;
	}

	input:not(.submit),
	textarea{
		border: 1px solid $color3;
		border-radius: 5px;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		&:focus{
			border: 2px solid $color3;
			outline: none;
		}
	}	

	input:not(.submit){
		height: 40px;
	}
	textarea{
		height: 125px;
	}

	.submit{
		width: 145px;
		height: 53px;
		border-radius: 10px;
		border: 1px solid $color3;
		background-color: #ffffff;
		margin-top: 30px;
		transition: .3s;
		font-size: 14px;
		float: right;
		&:hover{
			background-color: $color3;
			color: $color2;
		}
	}
}
// =/coments