.main .card-page{
	h1:not(.title){
		font-family: "Fira Sans Condensed";
		font-size: 30px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 0;
	}
	.articul,
	.sku_wrapper{
		font-size: 14px;
		font-weight: 400;
	}

	.reviews-short{
		margin-top: 15px;
		font-size: 14px;
		img{
			display: block;
		}
	}
	.review-count{
		margin-left: 1rem;
	}

	.submit-wrapper{
		position: relative;
		&:hover{
			.tooltip{
				top: -75px;
				opacity: 1;
			}
		}
		.tooltip{
			transition: .3s;
			opacity: 0;
			align-items: center;
			background-color: $color7;
			border-radius: 5px;
			top: -70px;
			color: $color2;
			display: flex;
			height: 60px;
			justify-content: center;
			left: -32px;
			position: absolute;
			width: 143px;
			&:after{
				@extend .before;
				width: 0;
				height: 0;
				left: 50%;
				margin-left: -10px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #19bd9b;
				bottom: -10px;
			};
		}
	}

	.woo-variation-product-gallery{
		max-width: 100% !important ;
	}

	.to-cart{
		align-items: center;
		display: flex;
		margin-top: 35px;
		.button{
			background-color: #ebedef;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			display: block;
			height: 58px;
			margin-left: 10px;
			transition: .3s;
			width: 58px;
			&:hover{
				background: $color7;
				img{
					filter: grayscale(0) brightness(11);
				}
			}
			&.disabled{
				opacity: 0;
				cursor: default;

				& + .tooltip{
					display: none;
				}
			}
		}
	}
	.price{
		color: $color3;
		font-size: 26px;
		font-weight: 700;
		margin-right: 5px;
		// span
		.woocommerce-Price-currencySymbol{
			font-weight: 400;
			margin-left: 5px;
		}

		ins{
			text-decoration: none;
		}
	}

	.woocommerce-variation-price{
		ins{
			text-decoration: none;
		}
		del{
			font-size: 2.2rem;
			color: #8a8585;
		}
	}

	.quantity{
		display: none !important;
	}

	.variations{
		margin-top: 3.5rem;
		&-title{
			font-size: 16px;
		}
	}

	.share{
		margin-top: 3.5rem;

		
		.pluso{
			margin-top: 10px;
			&-wrap{
				vertical-align: middle
			}
		}
		.pluso-twitter,
		.pluso-facebook,
		.pluso-pinterest
		{
			background-position: 0 0 !important;
			background-size: no-repeat;
			margin-top: 0;
			margin-right: 8px;
		}

		
		.pluso-facebook{
			background-image: url(images/share/fb.png);
			height: 22px;
			width: 11px;
		}
		.pluso-twitter{
			background-image: url(images/share/twitter.png);
			height: 18px;
			width: 21px;
		}

		.pluso-pinterest{
			background-image: url(images/share/pinterest.png);
			height: 23px;
			width: 18px;
		}

		.pluso-more{
			display: none !important;
		}
	}

	.text,
	.reviews{
		margin-top: 4rem;
	}

	.text{
		table{
			border-top: 1px solid $color12;
			border-bottom: 1px solid $color12;
			th,
			td{
				padding: 1.5rem 0;
				text-align: center;
			}
			tr{
				th{
					border-bottom: 2px solid $color12;					
				}
			}

			tr:nth-child(2n + 1){
				td{
					background-color: #f6f8fa
				}
			};
		}
	}


	#gallery-thumbs{
		.slick-list,
		.slick-track{
			height: 630px !important;
		}
		.slick-track{
			transform: translate3d(0px, 0px, 0px) !important;
		}
	}


	.star-rating{
		background: url(images/star.png) repeat-x;
		position: relative;
		width: 95px;
		height: 17px;
		text-indent: -9999em;
		overflow: hidden;
		& > span{
			background: url(images/star-full.png) repeat-x;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.wc-forward{
		display: none !important;
	}

	.card__media{
		margin-top: 1.5rem;
	}

	p.title{
		font-size: 2.4rem;
	}


	.btn-tape{
		border: none;
		cursor: pointer;
		display: inline-block;
		height: 30px;
		padding: 5px 0 5px 50px;
		position: relative;
		background: none;
		&:before{
			@extend .before;
			background: url(images/tape.png) no-repeat left center;
			left: 0;
			top: 4px;
			height: 24px;
			width: 44px;
		}
	}

	.sizebox-wrapper{
		margin-top: 3.5rem;
	}
}

#sizebox{
	font-size: 16px;
	.modal{
		&-content{
			border: 2px solid $color3;
			border-radius: 10px;
		}
		&-header{
			justify-content: center;
			text-align: center;
		}
		&-title{
			color: $color3;
			text-align: center;
		}		
	}

	.close-menu{
		background: url(images/close3.png) no-repeat left top;
		border: none;
		cursor: pointer;
		display: block;
		height: 20px;
		position: absolute;
		right: 17px;
		top: 14px;
		width: 21px;
		&:hover{
			background-position: left bottom;
		}
	}

	table{
		border-top: 1px solid #7d8a97;
		border-bottom: 1px solid #7d8a97;
		margin-top: 1.5rem;
		tr{
			th{
				border-bottom: 2px solid #7d8a97;
			}
		}

		th,
		td{
			padding: 1.5rem 1rem;
			width: 50%;
		}


		td{
			&.blue{
				background-color: #e7f5fe
			}
			&.pink{
				background-color: #fcf0ef
			}
		}
	}

	.modal{
		&-header{
			padding-top: 2.8rem;
		}
		&-dialog{
			max-width: 90%;
		}
		&-title{
			font-size: 2.2rem;
		}

		&-body{
			padding-left: 2rem;
			padding-right: 2rem;
			padding-bottom: 2rem;
			p{
				margin: 8px 0; 
			}
		}
	}
}


@media (min-width: 1250px){
	.card{
		&__right{
			min-height: 653px
		}
		&__reviews{
			margin-top: 4rem;
		}
	}

	#sizebox{
		.modal{
			&-header{				
				padding-top: 2.8rem;
			}
			&-dialog{
				max-width: 950px;
			}
			&-title{
				font-size: 2.2rem;
			}

			&-body{
				padding-left: 4.2rem;
				padding-right: 4.2rem;
				padding-bottom: 3rem;
				p{
					margin: 8px 0; 
				}
			}
		}
	}
}


@media (max-width: 600px){
	#sizebox{
		font-size: 1.5rem;
		p{
			text-align: justify;			
		}

		.modal-header{
			display: block;
		}
		.modal-dialog{
			margin-left: auto;
			margin-right: auto;
		}
	}
}


@media (max-width: 350px){
	#sizebox{
		.modal{
			&-dialog{
				max-width: 96%;
			}
		}
	}
}


#gallery-thumbs{
	width: 113px;
	img{
		border-radius: 10px;
		display: block;
	}
	.slick{
		&-slide{
			cursor: pointer;
			margin-bottom: 14px;
			img{
				border: 2px solid rgba(0,0,0,0);
				border-radius: 10px;
				transition: border .3s;
			}
			&:hover{
				img{
					border-color: $color3;
				}				
			}
		}

		&-current{
			img{
				border-color: $color3;
			}
		}
	}
}

#gallery-main{
	margin-left: 28px;
	width: 615px;

	.slick{
		&-dots{
			display: flex;
			justify-content: center;
			padding-left: 0 !important;

			li{
				padding-left: 0 ;
				margin: 0 4px;
				button{
					background: #ebedef;
					border-radius: 50%;
					border: none;
					cursor: pointer;
					display: block;
					height: 9px;
					padding: 0 !important;
					text-indent: -9999em;
					width: 9px;
				}
				&:before{
					display: none !important
				}
				&.slick-active{
					button{
						background-color: $color3;
					}
				}
			}
		}
	}

	img{
		display: block;
		height: 614px;
		width: 614px;
	}
}

.select_tabs{
	display: flex;
	margin-top: 12px;
}

ul.variable-items-wrapper{
	margin-top: 12px !important;
}

.select_tabs,
ul.variable-items-wrapper{
	li.variable-item{
		border-radius: 0 !important;
		box-shadow: none !important;
		border: none !important; 	
		padding: 0 !important;
		margin: 0 12px 0 0  !important;
		width: 32px !important;
		height: 32px !important;
	}
	span{
		&:after{
			box-shadow: none !important;			
		}
		display: block;
		border-radius: 50%;
		width: 32px !important;
		height: 32px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
		white-space: nowrap;
		text-align: center;
		transition: .3s;
	}
}


.variable-items-wrapper [data-wvstooltip]{
	&:after,
	&:before
	{
		display: none !important;
	}
}


ul.button-variable-wrapper{
	li.variable-item{
		.variable-item-span{
			display: flex !important;
			align-items: center;
			justify-content: center;
			border: 1px solid $color3;
			color: #35495c;
			font-size: 16px;
			&:hover{
				background-color: $color3;
				color: $color2;					
			}		
		}
		&.selected{
			span{
				background-color: $color3;
				color: $color2;			
			}
		}
	}
}


ul.color-variable-wrapper{
	li.variable-item{
		&.selected .variable-item-span{
			&:before{
				display: block !important;				
			}
		}

		.variable-item-span{
			&:after{
				transition: opacity .3s;
				opacity: 0;
				border-radius: 50%;
				left: calc(50% - 20px) !important;
				top: calc(50% - 20px) !important;
				width: 40px !important;
				height: 40px !important;
				border: 2px solid $color7 !important;
				border-radius: 50% !important
			}
		}

		&.selected .variable-item-span,
		.variable-item-span:hover{
			&:after{
				@extend .before;
				display: block !important;
				z-index: 2;
			}

			&:after{
				opacity: 1;
			}
		}
	}	
}


// =coments
.commentlist{
	list-style: none;
	margin-left: 0 !important;

	.comment{
		margin: 3rem 0;
	}
	.review{
		margin: 1rem 0;
	}
	.comment,
	.review{
		.meta{
			color: #35495c;
			.woocommerce-review__published-date{
				margin-left: 5px;
			}
		}

		.description{
			margin-top: 1rem;
		}
		.woocommerce-review{
			&__author{
				color: $color3;
				font-size: 1.8rem;
			}
			&__dash{
				display: none;
			}

			&__published-date{
				margin-left: 0 !important;
				display: block;
				font-size: 1.4rem;
			}
		}

		.star-rating {
			float: right;
			overflow: hidden;
			position: relative;
			height: 17px;
			line-height: 1;
			font-size: 1em;
			width: 95px;
			font-family: star;
			top: 34px;

			&:before{
				background: url(images/star.png) repeat-x;
				content: "";
				height: 17px;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
			span {
				background: url(images/star-full.png) repeat-x;
				float: left;
				left: 0;
				overflow: hidden;
				padding-top: 1.5em;
				position: absolute;
				top: 0;
			}
		}
	}
}


.comment-form-rating{
	.stars{
		margin-top: .5rem;
		background: url(images/star.png) repeat-x left top;
		width: 95px;
		height: 17px;
		position: relative;
		span{
			display: flex;
		}
		a{
			display: block;
			height: 17px;
			$w: 19px;
			width: $w;
			overflow: hidden;
			text-indent: -125%;
			position: absolute;
			left: 0;
			top: 0;
			&:hover{
				background: url(images/star-full.png) repeat-x left top !important;				
			}
			&.active{
				background: url(images/star-full.png) repeat-x left top;				
			}
		}
		@for $i from 1 through 5 {
			a:nth-child(#{$i}),
			
			{
				width: 19px*$i;
				z-index: 6-$i
			}
		}

		&:hover{
			a.active{
				background: none;
			}
		}
	}
}

.allcomments{
	display: none;
}

.togglecomments{
	.showcomments{
		background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALBAMAAABbgmoVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAHlBMVEX////y8/SGkp1dbX3X295CVWfJztQ1SVyutr68wsnevM5KAAAAAWJLR0QAiAUdSAAAAAd0SU1FB+IMBBIkKAY1VD0AAAA8SURBVAjXY2BgYBBgAAEmQzDFEgymGFwVGBgEBQXFghgYykGggWHmzJkzgsFqhSFKTR3A+kLAHMYJDAwALmQI1Aw0pFMAAAAASUVORK5CYII=") no-repeat right center;
		border: none;
		color: $color3;
		font-weight: 700;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 5px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 15px;
		cursor: pointer;
		transition: .3s color;

		&:hover{
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALBAMAAABbgmoVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAHlBMVEX////w+/h118NHyq/R8usowaLC7eQZvZuj5dey6d7WpHa7AAAAAWJLR0QAiAUdSAAAAAd0SU1FB+IMBBIiGQGx84EAAAA8SURBVAjXY2BgYBBgAAEmQzDFEgymGFwVGBgEBQXFghgYykGggWHmzJkzgsFqhSFKTR3A+kLAHMYJDAwALmQI1Aw0pFMAAAAASUVORK5CYII=") no-repeat right center;
			color: $color7;
		}
	}
}


.comment-respond{
	margin-top: 10px;
	.comment-reply-title{
		font-size: 18px;
		text-transform: uppercase;
	}

	.comment-form-rating{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#review_form{
	label{
		display: block;
		font-size: 14px;
		margin-top: 10px;
	}

	input:not(.submit),
	textarea{
		border: 1px solid $color3;
		border-radius: 5px;
		padding-left: 5px;
		padding-right: 5px;
		width: 100%;
		&:focus{
			border: 2px solid $color3;
			outline: none;
		}
	}	

	input:not(.submit){
		height: 40px;
	}
	textarea{
		height: 125px;
	}

	.submit{
		background-color: #ffffff;
		border-radius: 10px;
		border: 1px solid $color3;
		float: right;
		font-size: 14px;
		height: 53px;
		margin-top: 30px;
		transition: .3s;
		width: 145px;
		&:hover{
			background-color: $color3;
			color: $color2;
		}
	}

	.sending,
	.thank{
		@extend .flex-center;
		background: #fff;
		border-radius: 10px;
		border: 2px solid #35495c;
		box-shadow: 0 0 15px #35495c;
		font-size: 24px;
		height: 140px;
		left: 20px;
		margin-top: 120px;
		position: absolute;
		width: 360px;
		z-index: 50;
		&.ajax-error{
			text-align: center;
			font-size: 20px;
			border-color: red;
		}
	}
}
// =/coments

.modal-added{
	background-color: $color2;
	border-radius: 10px;
	border: 2px solid #35495c;
	height: 22rem;
	left: 50%;
	margin-left: -27rem;
	padding: 7rem 5rem;
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -5rem;
	width: 56.1rem;
	z-index: 999;
	.close{
		right: 2.2rem;
	}
	.text{
		color: #35495c;
		font-size: 2.1rem;
		margin-bottom: 3.8rem;
	}

	.buttons{
		padding: 0 1.8rem;
	}
	.btn-continue,
	.btn-default{
		display: flex;
		align-items: center; 
		cursor: pointer;
		height: 5.5rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}


	.btn-continue{
		background-color: $color2;
		color: $color1;
		border: 1px solid;
		border-radius: 8px;
		transition:  .3s ;
		&:hover{
			border-color: #ebedef;
			background-color: #ebedef;
		}
	}
}


.woo-variation-gallery-wrapper .woo-variation-gallery-thumbnail-slider{
	display: flex;
	justify-content: center;
}


@media (min-width: 992px){

}

