$color1:#000;
$color2:#fff;
$color3: #35495c; 
$color4: #ecedf1;
$color5: #fefefe;
$color6: #ebedef;
$color7: #19bd9b;
$color8: #d6f3ed;
$color9: #c8ced3;
$color10: #7e7e7e;
$color11: #d6d6d6;
$color12: #7d8a97;
$color13: #010101;
$color14: #f0001b;