.collections{
	margin-bottom: -15px;
}
.visual{
	margin-bottom: -20px;
	overflow: hidden;
	position: relative;
	img{
		max-width: 100%;
		height: auto;
	}
}
.collection{
	&__item{
		margin-bottom: 35px;
	}
	&__link{
		position: relative;
		display: block;
		img{
			display: block;
			border-radius: 5px;
			width: 100%;
		}

		.more{
			align-items: center;
			background-color: #ffffff;
			border-radius: 10px;
			bottom: 75px;
			display: flex;
			height: 53px;
			justify-content: center;
			left: 50%;
			margin-left: -72px;
			opacity: 0;
			position: absolute;
			transition: .4s;
			width: 145px;
		}

		&:hover{
			.collection{
				&__title{
					height:  calc(100% - 24px);
					left: 12px;
					margin-left: 0;
					margin-top: 0;
					top: 12px;
					width: calc(100% - 24px);
				}
			}
			h3{
				transform: translateY(-28px)
			}

			.more{
				opacity: 1;
				bottom: 55px;
			}
		}
	}
	&__title{
		align-items: center;
		border-radius: 5px;
		border: 1px solid $color2;
		display: flex;
		height: 100px;
		justify-content: center;
		left: 50%;
		margin-left: -220px;
		margin-top: -50px;
		position: absolute;
		top: 50%;
		transition: .3s;
		width: 440px;
		z-index: 2;

		h3{
			color: $color2;
			font-size: 46px;
			font-weight: 400;
			text-align: center;
			transition: transform .3s
		}
	}
}


