.text-contact{
	padding-top: 1px;
	p{
		margin: 28px 0;
	}

	img{
		margin-right: 20px;
	}
}


.main .feedback{
	font-size: 14px;
	margin-bottom: 20px;
	padding-top: 10px;
	position: relative;
	p{
		line-height: 1.4;
	}

	.sending,
	.nf-response-msg2{
		background: #fff;
		border: 2px solid;
		border-radius: 10px;
		height: 165px;
		font-size: 22px;
		color: $color3;
		display: flex !important;
		align-items: center;
		justify-content: center;
		top: 50%;
		left: 1%;
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,.5);
		// margin-top: -120px;
		// position: absolute;
		margin-top: 120px;
		width: 98%;
		text-align: center;






		.close{
			right: 15px;
			top: 15px;
		}
	}

	&.process{
		fieldset{
			position: relative;
			z-index: -1;
			opacity: .5;
			
		}
	}

}


#feedback-form,
.nf-form-cont{
	margin-top: 15px;
	position: relative;
	.form-group,
	.nf-field{
		margin-top: 12px;
	}

	.nf-field-label,
	.nf-field-container{
		margin-bottom: 0 !important;
	}

	.nf-field-label{
		label{
			font-weight: 400 !important;
		}
	}

	.nf-before-form-content,
	.ninja-forms-req-symbol,
	.nf-after-form-content
	{
		display: none !important;
	}

	.form-control{
		border-radius: 5px;
		border: 1px solid #35495c;
		display: block;
		margin-top: 3px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}

	.form-control,
	label
	{
		transition: .3s;
	}

	input.form-control{
		height: 40px;
		&:focus
		{
			border-color: $color7;
		}
	}
	textarea.form-control{
		height: 150px;
		padding-top: 5px;
	}

	.form-group,
	.nf-field{
		&:hover{
			label{
				color: $color7;
			}
			.form-control{
				border-color: $color7;				
			}
		}
	}

	.submit{
		display: block;
		border: 1px solid #35495c;
		background: none;
		border-radius: 8px;
		margin: 35px auto 0;
		padding: 15px 32px;
		transition: .3s;
		&:hover{
			color: $color7;
			border-color: $color7;
			background-color: $color7;
		}
	}
}

.contact-page{
	main{
		margin-bottom: 65px;
	}
}