.cats{
	border-top: 1px solid $color3;
	border-bottom: 1px solid $color3;
	padding: 12px 0;
	margin: 30px -15px 0;
	padding-left: 16px;
	p{

	}

	ul{
		display: flex;
		li{
			line-height: normal;
			margin-left: 17px;
			padding-left: 10px;
			position: relative;
			&:before{
				transition: .3s background-color;
				@extend .before;
				background-color: $color3;
				border-radius: 50%;
				height: 5px;
				margin-top: -3px;
				left: 0;
				top: 50%;
				width: 5px;
			}
			&:hover{
				&:before{
					background-color: $color7;
				}
			}
		}
	}
	a{
		transition: .3s color;
		&:hover{
			color: $color7;
			text-decoration: none;
		}
	}
}

/* =about
---------------------------*/
.about{
	font-weight: 600;
	text-align: justify;
	h1{
		font-weight: normal;
		margin-bottom: 15px;
	}
	p{
		margin: 12px 0;
	}
}
/* =/about
---------------------------*/


/* =pagination
---------------------------*/
.woocommerce-pagination{
	margin: 40px 0;
	font-size: 16px;
	ul.page-numbers{
		display: flex;
		justify-content: center;
		li{
			margin-left: 15px;
			margin-right: 15px;
			.dots{
				font-weight: 600;
			}
			.prev,
			.next{
				display: block;
				text-indent: -9999em;
				position: relative;
				&:before{
					@extend .before;
					background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAKVJREFUGJVd0KFugmEMheGH36AWCAmZ2RxIQkJC8Cj+iSWbBYXlTrgCEi6AO0BAgkAhcCA3tylmEExPrF/yhaqevm1z2kq/nLxjgjkOsiiwxBs2GNzDbeQPWKOTwyn2oRvR3ErwF684RsMjdngqonDFC86hn7FIEKqoZ/qWYDOtCn3CrEAtTLQDfKDET4EVugG+MMJ3ctsLcImJz/zOsf8vDTO34A+sCRvDotmkvgAAAABJRU5ErkJggg==") no-repeat left top;
					height: 12px;
					width: 7px;
					top: 13px;
				}
			}
			.prev{
				margin-right: 25px;
				&::before{
					transform: rotate(180deg)
				}
			}

			.next{
				margin-left: 25px;
			}

			a:not(.prev):not(.next),
			.current{
				height: 35px;
				width: 35px;				
				@extend .flex-center;
			}
			a:not(.prev):not(.next){
				transition: .3s;
				border-radius: 50%;
				color: $color3;
				&:hover{
					background: $color7;
					color: $color2;
					text-decoration: none;
				}
			}
		}
		.current{
			color: $color7;
		}
	}
}
/* =/pagination
---------------------------*/