.cats{
	border-top: 1px solid $color3;
	border-bottom: 1px solid $color3;
	padding: 11px 0 11px 16px;
	margin: 30px -15px 0;

	ul{
		display: flex;
		li{
			line-height: normal;
			margin-left: 17px;
			padding-left: 10px;
			position: relative;
			&:before{
				@extend .before;
				background-color: $color3;
				border-radius: 50%;
				height: 5px;
				left: 0;
				margin-top: -3px;
				top: 50%;
				transition: .3s background-color;
				width: 5px;
			}
			&:hover{
				&:before{
					background-color: $color7;
				}
			}
		}
	}
	a{
		transition: .3s color;
		&:hover{
			color: $color7;
			text-decoration: none;
		}
	}
}


/* =filter
---------------------------*/
.filter{
	border-bottom: 1px solid $color3;
	margin-top: 35px;
	padding-bottom: 15px;
	a:hover{
		transition: .3s;
	}
	.widget{
		display: flex;
		margin: 7px 50px 7px 0;
		&:last-child{
			margin-right: 0;
		}
		&-title{
			font-size: 16px;
			position: relative;
			&:after{
				content: ":";
				display: inline-block;
			};
		}
		li{
			margin-left: 13px;
			&.chosen{
				a{
					color: $color7;
				}
			}
		}
		ul{
			align-items: center;
			display: flex;
		}
		.yith-wcan-list{
			li{
				a{
					padding-left: 17px;
					&:hover{
						color: $color7;					
						text-decoration: none;
					}
				}
				&.chosen{
					a{
						background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='15px' height='15px' viewBox='0 0 1000 1000' preserveAspectRatio='xMidYMid meet'%3E%3Cg id='layer101' fill='%2319bd9b' stroke='none'%3E%3Cpath d='M253 983 c-57 -162 -116 -276 -198 -382 -30 -39 -55 -79 -55 -89 0 -25 117 -92 161 -92 56 0 78 19 160 138 l51 74 87 -130 c186 -276 317 -414 452 -477 80 -37 115 -31 68 11 -37 33 -214 275 -285 389 -37 61 -109 196 -160 300 -51 105 -103 200 -116 211 -65 60 -151 84 -165 47z'/%3E%3C/g%3E%3C/svg%3E");
						background-position: left center;
						background-repeat: no-repeat;						
					}
				}
				&:first-child{
					margin-left: 0;
				}
			}
		}

		.yith-wcan-color{
			li{
				margin-left: 14px;
			}
			a{
				border-radius: 50%;
				border: 2px solid #fff;
				display: block;
				height: 19px;
				overflow: hidden;
				text-indent: 9999em;
				letter-spacing: -9999px;
				width: 19px;
				position: relative;
				&:before,
				&:after
				{
					@extend .before;
					border-radius: 50%;					
					opacity: 0;
					transition: opacity .3s;
				}
				&:before{
					border: 1px solid #c2c2c2;
					height: 23px;
					left: -4px;
					top: -4px;
					width: 23px;
				}
				&:after{
					background: #fff;
					height: 3px;
					left: 6px;
					top: 6px;
					width: 3px;
				}
				&:hover{
					&:after,
					&:before{
						opacity: 1;
					}
				}
			}

			.chosen{
				a{
					&:after,
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}

	.yith-woo-ajax-reset-navigation{
		justify-content: center;
		margin: 22px 0 10px; 
		text-align: center;

		.yith-wcan-reset-navigation{
			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAHFJREFUGJVtz8ENwjAUA9CXKsOwShmlLSqjgAD1zhD0zBzMUoUDPyJC+GTZ/9ty2j3vL6yYUXyQcEbf4YEDbmEkXENbM47IGOK7BF8w5xCmMOvRghGl80X5x3PTWWNrBUwZp8Ycm5QBW8Yel5+ZEzb0b5ApHN5sVOeHAAAAAElFTkSuQmCC") no-repeat left 7px;
			filter: grayscale(1);
			padding-left: 16px;
			transition: .3s;
			&:hover{
				color: $color7;
				filter: none;
				text-decoration: none;
			}			
		}
	}

	.show-filter{
		display: none;
		background: #7d8a97 ;
		border-radius: 3px;
		border:none;
		color: #fff;
		font-family: 'Fira Sans Condensed';
		font-size: 16px;
		padding: 7px 0;
		width: 275px;
		text-transform: uppercase;
		span{
			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAQAAAAEnG+bAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiCwcVBAbqvRgrAAAAVklEQVQI16XHoQ3CAAAAwQ9hAnR3qMWgq2EJ5oANGQNBUgSipodpWIBXf0lGL6O0q2ro0FBt/PUP9117bH9szNPsjpvZMycfK1Yfp2SyYDEpydnbRfoC1MY2SES3f1YAAAAASUVORK5CYII=") no-repeat right center;			
			padding-right: 12px;
		}
	}
}
/* =/filter
---------------------------*/


/* =product
---------------------------*/
.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 10px -5px;
	justify-content: space-around;
	.product{
		width: 25%;
	}
	&.newest{
		display: block;
	}
}


@supports (display:grid) {
	.products{
		display: grid;
		grid-template-columns: repeat(4, 25%);
		.product{
			width: 100%;
		}
	}
}

.products{
	margin: 40px 0 20px;
	.product{
		margin-bottom: 20px;
		text-align: center;
		.box{
			&-default{
				height: 265px;
				@extend .flex-center;
			}
			&-overlay{
				transform: translateX(-100%);
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
				transition: all 1s cubic-bezier(.19, 1, .22, 1) 0s;
			}
		}
		img{
			vertical-align: top;
		}
		&__bottom{
			@extend .flex-center;
			font-size: 18px;
			font-weight: 700;
			color: $color3;
			.woocommerce-Price-currencySymbol{
				font-weight: 400;
			}
		}
		.add_to_cart_button{
			@extend .flex-center;
			background-color: $color6;
			border-radius: 50%;
			height: 35px;
			margin-left: 11px;
			transition: background-color .3s;
			width: 35px;
			img{
				transition: filter .3s;
			}
			&:hover{
				background-color: $color7;
				img{
					filter: grayscale(0) brightness(5)
				}
			}
		}
	}
	.woocommerce-loop-product__link{
		display: block;
		color: $color1;
		overflow: hidden;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		transition: color .3s;
		&:hover{
			color: $color3;
			text-decoration: none;
			.box-overlay {
			    transform: translateX(0);
			}

		}
	}
	.woocommerce-loop-product__title{
		font-size: 18px;
		line-height: 1.2;
		margin: 20px 15px 15px;

	}
}
/* =/product
---------------------------*/

/* =pagination
---------------------------*/
.woocommerce-pagination,
.pagination{ 
	margin: 20px 0;
	font-size: 16px;
	ul.page-numbers,
	.nav-links{
		display: flex;
		justify-content: center;
		li{
			margin-left: 10px;
			margin-right: 10px;
		}
			.dots{
				font-weight: 600;
			}
			.prev,
			.next{
				display: block;
				text-indent: -9999em;
				position: relative;
				&:before{
					@extend .before;
					background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAKVJREFUGJVd0KFugmEMheGH36AWCAmZ2RxIQkJC8Cj+iSWbBYXlTrgCEi6AO0BAgkAhcCA3tylmEExPrF/yhaqevm1z2kq/nLxjgjkOsiiwxBs2GNzDbeQPWKOTwyn2oRvR3ErwF684RsMjdngqonDFC86hn7FIEKqoZ/qWYDOtCn3CrEAtTLQDfKDET4EVugG+MMJ3ctsLcImJz/zOsf8vDTO34A+sCRvDotmkvgAAAABJRU5ErkJggg==") no-repeat left top;
					height: 12px;
					top: 12px;
					width: 7px;
				}
			}
			.prev{
				margin-right: 25px;
				&::before{
					transform: rotate(180deg)
				}
			}

			.next{
				margin-left: 25px;
			}

			a:not(.prev):not(.next),
			.current{
				height: 35px;
				width: 35px;				
				@extend .flex-center;
			}
			a:not(.prev):not(.next){
				border-radius: 50%;
				color: $color3;
				transition: .3s;
				&:hover{
					background: $color7;
					color: $color2;
					text-decoration: none;
				}
			}
		.current{
			color: $color7;
		}
	}

	.nav-links{
		a{
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}
/* =/pagination
---------------------------*/



/* =about
---------------------------*/
.about{
	font-weight: 600;
	margin-top: 30px;
	text-align: justify;
	h1{
		color: $color1;
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 15px;
	}
	p{
		margin: 12px 0;
	}
}
/* =/about
---------------------------*/