.breadcrumbs{
	border-top: 1px solid $color1;
	margin-bottom: 15px;
	margin-top: -1px;
	padding-top: 18px;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			padding-right: 12px;
			margin-right: 12px;
			position: relative;
			&.current{
				color: $color10;
				margin-right: 0;
				a, span{
					color: currentColor;
				}
				&:after{
					display: none;
				}
			}
			&:after{
				@extend .before;
				// background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHCAQAAABnsD8iAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiCwkTEw2cvk60AAAALklEQVQI1wXBsREAEBAAsBjA6S2oMpZT/AYKp7WJMSQcBZogYbhQvYSw6SYsmQ+2zgeYTM4KIQAAAABJRU5ErkJggg==") no-repeat center top;
				background: url(images/separator.png) no-repeat left center;
				height: 7px;
				margin-top: -3px;
				right: 0;
				top: 50%;
				width: 3px;
			};
		}
	}
}

.home{
	.main{
		&.inner{
			.filter-box{
				border-top: none;				
			}
		}
	}
}

.main{
	&.inner{
		border-top: 1px solid $color11;
		.filter-box{
			border-top: 1px solid $color1;
			margin-top: 18px;
			padding-top: 15px;
		}

		.title{
			font-family: 'Fira Sans Condensed';
			font-size: 30px;
			line-height: 1.3;
			margin-bottom: 40px;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			&:after{
				@extend .before;
				border-bottom: 1px solid #35495c;
				left: 50%;
				margin-left: -18px;
				width: 38px;
			}
		}
	}

	main{
		font-size: 16px;
		margin-top: 15px;
		p{
			line-height: 1.8;
		}

		a{
			transition: .3s;
			&:hover{
				color: $color7 !important;
				text-decoration: none;
				strong{
					color: $color7 ;					
				}
			}
		}


		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			margin: 10px 0;
			font-weight: 400;
		}

		h1{font-size: 36px;}
		h2{font-size: 30px;}
		h3{font-size: 24px;}
		h4{font-size: 18px;}
		h5{font-size: 16px;}
		h6{font-size: 14px;}

		strong{
			transition: .3s;
			color: #35495c;
			font-weight: 700;
		}

		ul,
		ol{
			margin: 15px 0 15px 20px;
			li{
				margin: 7px 0;				
			}
		}

		ul{
			list-style: none;
		}

		ul:not(.wp-block-gallery):not(.payment_methods){
			li{
				padding-left: 16px;
				position: relative;
				&:before{
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 9px;
					width: 6px;
					height: 6px;
					background-color: #35495c;
					border-radius: 50%;
				};
			}
		}

		.wp-block-gallery{
			a{
				color: $color2;
			}
		}

		blockquote,
		blockquote:after
		{
			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAZBAMAAADd8CNTAAAAAXNSR0IB2cksfwAAADBQTFRFAAAAXGVcXmVeX2RfXWRdXWRdXWNdXmNeWmJaXWRdXWRdWmlaXWRdXWVdXWRdXWRdUXjTvQAAABB0Uk5TAHdEM//uVYgi3ZkRzKq7Zv0CwfgAAADRSURBVHicNU+rEcJAFFwGwScZQFAAMzRAC8DyGz4KgURQAIICIoLARVBABAVgcBhmcBgEJaSACArg3uZ44s3s3f4eYFNq2e6imHbfrfJ6K1AhI+DEodCFYyA4c2+gTjpdyIX/MtmHGwMNMhVBJhlXZiuCfb2AJvl2IMg4uwI7bdxp6jKLsC9HPeCoECBWzJNL+OiO+Q6EqjKLleLmwKkYkdCNEzHS4lKOrsaYCwVrM78Vxaxh8mdIOBYj98KVOiV/oetW8/nuObeTvE2owg/n8gOswTZZmM0OjwAAAABJRU5ErkJggg==") no-repeat left top;
		}

		blockquote{
			// background: url(images/quote.png) no-repeat left center;
			background-position: left 10px;
			color: #5d645d;
			font-size: 16px;		
			font-style: italic;
			margin: 15px 0;
			display: block;
			padding: 0 65px;
			position: relative;
			&:after{
				content: "";
				display: block;
				width: 26px;
				position: absolute;
				height: 25px;
				right: 0;
				bottom: 20px;
				margin-top: -12px;
				transform: rotate(180deg);
			};
		}


		.justifyleft,.alignleft {text-align:left !important; }
		.justifyright, .alignright {text-align:right !important; }
		.justifycenter,.aligncenter {text-align: center !important; }
		.justifyfull {text-align:justify !important; }

		img.justifyleft, img.alignleft, table.justifyleft {float:left; margin-right:25px;margin-bottom:25px;}
		img.justifyright, img.alignright, table.justifyright {float:right; margin-left:25px;margin-bottom:25px;}
		img.justifycenter, img.aligncenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}		

		img{
			max-width: 100%
		}
	}
}


.justifyleft,.alignleft {text-align:left !important; }
.justifyright, .alignright {text-align:right !important; }
.justifycenter,.aligncenter {text-align: center !important; }
.justifyfull {text-align:justify !important; }

img.justifyleft, img.alignleft, table.justifyleft {float:left; margin-right:25px;margin-bottom:25px;}
img.justifyright, img.alignright, table.justifyright {float:right; margin-left:25px;margin-bottom:25px;}
img.justifycenter, img.aligncenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}		



/* =newest
---------------------------*/
.newest{
	margin-left: -15px;
	margin-right: -15px;

	.product{
		margin-bottom: 0;
		margin-left: 15px;
		margin-right: 15px;
		position: relative;
		width: 262px;

		.woocommerce-loop-product__link{
			padding-left: 0;
			padding-right: 0;
			z-index: 5;
		}
		.box-default{
			border-radius: 8px;
			// height: 225px;
		}
		.box-hover{
			bottom: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			margin: -1px;
			top: 0;
			transition: opacity .3s;
			img{
				border-radius: 8px;
				display: block;
				// height: 100%;
				// width: 100%;
			}
			&:before{
				@extend .before;
				// border-radius: 8px;
				// border: 2px solid $color3;
				height: 100%;
				width: 100%;
			}
		}

		.woocommerce-loop-product__title{
			position: relative;
			z-index: 5;
		}
		.woocommerce-loop-product__link{
			&:hover{
				color: $color1;
				.box-hover{
					opacity: 1;
				}
			}
		}

		&__bottom{
			display: flex;
			align-items: center;
			justify-content: center;
			// position: absolute;
			// z-index: 15;
			/* bottom: 20px; */
			// left: 0;
			// right: 0;
		}


		&:after{
			transition: .3s;
			border-radius: 8px;
			bottom: 0;
			left: 0;
			margin-left: -1px;
			margin-top: 0px;
			right: 0;
			top: 0;
			opacity: 0;
			z-index: 1;
		}
		&:hover{ //product hover
			.box-hover{
				opacity: 1;
			}
		}
	}
	.woocommerce-loop-product__title{
		// margin: 8px 15px 11px;
		margin: 20px 15px 15px; 
	}
}

@media (max-width: 767px){
	.products.newest{
		margin-left: calc(-50vw + 255px) ;
		margin-right: calc(-50vw + 255px);
 	}
}



@media (max-width: 550px){
	.products.newest{
		margin-left: -16px;
		margin-right: -16px;
 	}
}


/* =newest
---------------------------*/


/* =subcat
---------------------------*/
.subcats{
	border-top: 1px solid $color12;
	border-bottom: 1px solid $color12;
	padding: 20px 20px 22px;
	margin-top: 50px;
	margin-bottom: 35px;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			margin-top: 6px;
			width: 25%;
			&.current-menu-parent{
				a{
					color: $color7;	
					&:before{
						background: $color7;
					}				
				}
			}
			a{
				color: $color3;
				padding-left: 16px;
				position: relative;
				&:hover{
					color: $color7;
					text-decoration: none;
					&:before{
						background-color: $color7
					}
				}
				&:before{
					background: $color3;
					@extend .before;
					left: 0;
					top: 0;
					border-radius: 50%;
					height: 6px;
					width: 6px;
					top: 7px;
				}				
			}
		}
	}
}
/* =/subcat
---------------------------*/



// category visual image
.visual-sale{
	img{
		max-width: 100%;
		height: auto;
	}
}