.breadcrumbs{
	padding-top: 18px;
	border-top: 1px solid $color1;
	margin-top: -1px;
	margin-bottom: 20px;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			padding-right: 12px;
			margin-right: 12px;
			position: relative;
			&.current{
				color: $color10;
				margin-right: 0;
				a, span{
					color: currentColor;
				}
				&:after{
					display: none;
				}
			}
			&:after{
				@extend .before;
				width: 3px;
				height: 7px;
				background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHCAQAAABnsD8iAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiCwkTEw2cvk60AAAALklEQVQI1wXBsREAEBAAsBjA6S2oMpZT/AYKp7WJMSQcBZogYbhQvYSw6SYsmQ+2zgeYTM4KIQAAAABJRU5ErkJggg==") no-repeat center top;
				right: 0;
				top: 50%;
				margin-top: -3px;
			};
		}
	}
}


.main{
	&.inner{
		border-top: 1px solid $color11;
		// margin-top: 15px;

		.filter{
			border-top: 1px solid $color1;
			margin-top: 18px;
			padding-top: 15px;
		}

		.title{
			font-family: 'Fira Sans Condensed';
			margin-bottom: 40px;
			font-size: 24px;
			position: relative;
			text-transform: uppercase;
			text-align: center;
			&:after{
				@extend .before;
				width: 38px;
				border-bottom: 1px solid #35495c;
				left: 50%;
				margin-left: -18px;
			}
			&-big{
				color: #35495c;
				font-size: 30px;
			}
			&-30{
				font-size: 30px;
			}
		}
	}

	main{
		font-size: 16px;
		margin-top: 20px;
		p{
			line-height: 1.8;
		}

		a{
			transition: .3s;
			&:hover{
				color: $color7 !important;
				text-decoration: none;
				strong{
					color: $color7 ;					
				}
			}
		}


		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			margin: 10px 0;
			font-weight: 400;
		}

		h1{font-size: 36px;}
		h2{font-size: 30px;}
		h3{font-size: 24px;}
		h4{font-size: 18px;}
		h5{font-size: 16px;}
		h6{font-size: 14px;}

		strong{
			transition: .3s;
			color: #35495c;
			font-weight: 700;
		}

		ul,
		ol{
			margin: 15px 0 15px 20px;
			li{
				margin: 7px 0;				
			}
		}


		ul{
			list-style: none;
			li{
				padding-left: 16px;
				position: relative;
				&:before{
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 9px;
					width: 6px;
					height: 6px;
					background-color: #35495c;
					border-radius: 50%;
				};
			}
		}

		blockquote,
		blockquote:after
		{
			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAZBAMAAADd8CNTAAAAAXNSR0IB2cksfwAAADBQTFRFAAAAXGVcXmVeX2RfXWRdXWRdXWNdXmNeWmJaXWRdXWRdWmlaXWRdXWVdXWRdXWRdUXjTvQAAABB0Uk5TAHdEM//uVYgi3ZkRzKq7Zv0CwfgAAADRSURBVHicNU+rEcJAFFwGwScZQFAAMzRAC8DyGz4KgURQAIICIoLARVBABAVgcBhmcBgEJaSACArg3uZ44s3s3f4eYFNq2e6imHbfrfJ6K1AhI+DEodCFYyA4c2+gTjpdyIX/MtmHGwMNMhVBJhlXZiuCfb2AJvl2IMg4uwI7bdxp6jKLsC9HPeCoECBWzJNL+OiO+Q6EqjKLleLmwKkYkdCNEzHS4lKOrsaYCwVrM78Vxaxh8mdIOBYj98KVOiV/oetW8/nuObeTvE2owg/n8gOswTZZmM0OjwAAAABJRU5ErkJggg==") no-repeat left top;
		}

		blockquote{
			// background: url(images/quote.png) no-repeat left center;
			background-position: left 10px;
			color: #5d645d;
			font-size: 16px;		
			font-style: italic;
			margin: 15px 0;
			display: block;
			padding: 0 65px;
			position: relative;
			&:after{
				content: "";
				display: block;
				width: 26px;
				position: absolute;
				height: 25px;
				right: 0;
				bottom: 20px;
				margin-top: -12px;
				transform: rotate(180deg);
			};
		}


		.justifyleft {text-align:left !important; }
		.justifyright {text-align:right !important; }
		.justifycenter {text-align: center !important; }
		.justifyfull {text-align:justify !important; }

		img.justifyleft, table.justifyleft {float:left; margin-right:25px;margin-bottom:25px;}
		img.justifyright, table.justifyright {float:right; margin-left:25px;margin-bottom:25px;}
		img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}		

		img{
			max-width: 100%
		}
	}
}


/* =newest
---------------------------*/
.newest{
	margin-left: -15px;
	margin-right: -15px;
	.product{
		border: 1px solid $color12;
		border-radius: 8px;
		width: 262px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 0;
		padding-bottom: 23px;
		.woocommerce-loop-product__link{
			padding-left: 0;
			padding-right: 0;
		}
		.box-default{
			height: 225px;
		}
	}
	.woocommerce-loop-product__title{
		margin: 2px 15px 11px;
	}
}

/* =newest
---------------------------*/


/* =subcat
---------------------------*/
.subcats{
	border-top: 1px solid $color12;
	border-bottom: 1px solid $color12;
	padding: 20px 20px 22px;
	margin-top: 50px;
	margin-bottom: 35px;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			margin-top: 6px;
			width: 25%;
			a{
				color: $color3;
				padding-left: 16px;
				position: relative;
				&:hover{
					color: $color7;
					text-decoration: none;
				}
				&:before{
					background: $color3;
					@extend .before;
					left: 0;
					top: 0;
					border-radius: 50%;
					height: 6px;
					width: 6px;
					top: 7px;
				}				
			}
		}
	}
}
/* =subcat
---------------------------*/
