$color_1: #fff; 
// $color_2: #35495c;
$color_2: #000;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 767px){
	.navmenu{
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		min-height: 656px;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		right: -300px;
		top: 0;
		transition: .3s;
		width: 300px;
		z-index: -1;

		&__inner{
			position: fixed;
			top: 0;
			bottom: 0;
			width: 300px;
			transition: .3s; 
			overflow: auto;
			height: 100%;
		}

		a,
		span{
			font-weight: normal;
		}
	}

	.mainnav{
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		padding-top: 7px;
		overflow: hidden;
		li{
			span{
				border-bottom: none !important;
			}
		}
	}

	.header .skype{
		padding-left: 26px;
	}

	.show-sm{
		display: block;
		text-align: left;
	}
	.navbar-toggle{
		background-color:$color_2;
		border: none;
		cursor: pointer;
		display: block;
		height: 60px;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		width: 60px;
		z-index: 99;
		.icon-bar{
			background-color: $color_1;
			display: block;
			height: 2px;
			margin: 6px auto;
			width: 24px;
			border-radius: 2px;
		}
	}


	.o-menu{
		.navmenu{
			background: #000;
			z-index: 500;
			right: 0;
		}

		.close-menu{
			display: block;
			right: 15px;
		}
		.mobinfo{
			padding-left: 1rem;
			a{
				color: $color_1;
				display: block;
				margin: 18px;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}

		.show-sm{
			@include font-size(1.5);
			padding-left: 15px;
			a{
				color: $color2;
				display: block;
				margin: 18px 0;
				text-decoration: none;
				border-bottom: none !important;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.close-menu{
		@include transition;
		background-color: $color_2;
		background: none;
		border: none;
		cursor: pointer;
		display: block;
		height: 58px;
		padding: 0;
		position: fixed;
		right: 2px;
		text-align: center;
		top: 0;
		width: 58px;
		z-index: 99;
		img{
			transition: transform .2s;			
		}
		&:hover img{
			transform: rotate(90deg);
		}
	}


	#navbar{
		background-color:$color_2;
		a{
			border-bottom: none !important;
			font-size: 18px;
			font-weight: 400;
			&:hover{
				text-decoration: none;
			}
		}
		.container{
			padding: 0;
		}
		ul.nav{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 0;
			padding-left: 15px;
			padding-right: 15px;
			text-align: left;

			& > li.active > a{
				text-decoration: underline;				
			}
			& > li{ // 1 level
				padding: 0;
				border-bottom: 1px solid #fff;

				a, span{
					color: $color_1;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-decoration: none;
					text-transform: none;
					&:hover{
						color: #fff;
					}
					&:before{
						display: none !important;
					}
				}
				&.active,
				&:hover{
					a, span{
						background: none;
					}
					border-bottom: 1px solid #fff;
					color: #fff;
				}

				&.active{
					a{
						&:hover{
							color : #fff;
						}
					}
				}

				&.current-menu-item{
					& > a,
					& > span{
						color: #19bd9b;
					}
				}

				// level2
				&.folder{
					& > a,
					& > span{
						position: relative;
						&:after{
							background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
							content: "";
							display: block;
							height: 12px;
							position: absolute;
							right: 20px;
							top: 22px;
							z-index: 99;
							width: 8px;
							transition: transform .3s;
						}
					}
					.open{
						&:after{
							transform: rotate(90deg)
						}						
					}
				}
				.submenu{
					display: none;
				}
				ul{
					padding-left: 25px;
					padding-bottom: 10px;
					li{
						margin: 10px 0;
						&:first-child{
							margin-top: 0;
						}
						a, span{
							padding: 5px 0;
						}
					}
				}

			}
		}

		.nav-tabs>li{
			margin: 0;
		}
	}
}