@media (max-width: 1249px){
	.new__item{
		margin-left: auto;
		margin-right: auto;
	}

	.products{
		grid-template-columns: repeat(3, 33.3%)
	}

	.footer{
		.copyright {
			.d-flex{
				flex-wrap: wrap;
			}
			p{
				margin-left: 0;
				margin-top: 10px;
			}
		}
		&__body{
			.row{
				align-items: center;
			}
		}
	}
}

@media (max-width: 1199px){
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
	.filter{
		.d-flex{
			flex-wrap: wrap;
			justify-content: flex-start !important;
		}
		.widget{
			margin-right: 0;
			&-title{
				flex-shrink: 0;
				width: 78px;
			}			
			ul{
				flex-wrap: wrap;
				li{
					margin-bottom: 5px;
				}
			}
			.yith-wcan-color{
				// margin-left: 18px;
			}
		}
	}

	.products{
		grid-template-columns: repeat(2, 50%)
	}

	// footer
	.footer{
		padding-top: 0;
		text-align: center;
		padding-bottom: 25px;
		.copyright{
			margin-bottom: 25px;
			order: 2;
			.d-flex{
				flex-direction: column;
				justify-content: center;
			}
		}
		.social{
			margin-bottom: 25px;
			order: 1;
		}
		.creators{
			order: 3;
		}
		&__body{
			padding-top: 25px;
		}
	}
}

@media (max-width: 920px){
	.top .tel:nth-child(3){
		// display: none;
	}

	.top{
		.skype,
		.email{
			margin-right: 20px;
		}
	}
}


@media (max-width: 800px){
	.top .tel:nth-child(3){
		display: none;
	}
}


@media (max-width: 767px){
	.top__contacts-left a:first-child{
		margin-left: 65px;
	}
	.top{
		height: 60px;
		.tel:nth-child(2){
			display: none;
		}
		.cart-contents{
			height: 60px;
		}
		&__contacts{
			a{
				display: flex;
				align-items: center;				
			}
			&-left{
				order: 2;
				padding-left: 0;
				padding-right: 80px;
				a{

				}
				a:first-child{
					margin-left: 0 ;
				}
			}
		}
	}



	.top__contacts-right{
		order: 1;
		padding-left: 10px;
	}

	// quickmsg
	.quickmsg{
		.container{
			width: 90%;
		}
		.sending,
		.thank{
			margin-left: 0;
			left: 0;
			width: 100%;
			font-size: 20px;
		}
	}

	// breadcrumbs
	.breadcrumbs{
		text-align: center;
	}
}




@media (max-width: 650px){
	.top{
		flex-direction: column;
		.skype,
		.email{
			min-height: 22px;
		}

		.cart-contents{
			background-position: 20px 4px;
			padding-top: 3px;
		}
		&__cart{
			padding-bottom: 10px;
		}
		.d-flex{
			justify-content: center;
		}
		.tel{
			margin-left: 0 !important;
			display: block !important;
			min-height: 22px;
		}
		&__contacts-left{
			padding-right: 0;
		}
		.cart-contents{
			height: auto;
		}
	}
	.cats{
		margin-right: 0;
		margin-left: 0;
		.d-flex,
		ul{
			flex-wrap: wrap !important;
		}
	}

	.filter{
		.d-flex{
			justify-content: flex-start !important;
		}

		.widget{
			ul{
				justify-content: flex-start;
			}
		}
	}
}

@media (max-width: 575px){
	.main-grid{
		display: block;
	}

	.lastnews{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.cats{
		.d-flex{
			flex-direction: column;
			ul{
				li:first-child{
					margin-left: 0;
				}
			}
		}
	}
}

@media (min-width: 551px){
	.filter .widget{
		.yith-wcan-list,
		.yith-wcan-color{
			display: flex !important
		}
	}
}

@media (max-width: 550px){
	.top{
		flex-direction: row;
		&__contacts{
			.tel{
				display: none !important;
				&:first-child(){
					display: flex !important;
				}
			}
		}
		#site-header-cart{
			padding-right: 60px;
			li{
				display: flex;
				height: 60px;
				align-items: center;
			}
		}
		&__cart{
			padding-bottom: 0;
		}
		&__contacts-left{
			padding-left: 35px;
			order: 1;
		}
		&__contacts-right{
			order: 2;
			.top__contacts{
				display: none !important;
			}
		}
	}

	.filter{
		text-align: center;
		.show-filter{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.filter__body{
			display: none;
		}
		.d-flex{
			display: block !important;
		}
		.widget{
			margin: 15px 0;
			display: block;
			&.yith-woo-ajax-reset-navigation{
				display: none;
			}
			&-title{
				margin-bottom: 8px;

				background: #7d8a97 ;
				border-radius: 3px;
				border:none;
				color: #fff;
				cursor: pointer;	
				font-family: 'Fira Sans Condensed';
				font-size: 16px;
				margin-left: auto;
				margin-right: auto;
				padding: 7px 0;
				width: 275px;
				text-transform: uppercase;

				&:after{
					display: none;
				}
			}
			ul{
				justify-content: center;
				margin-left: auto;
				margin-right: auto;
				text-align: left;

				&.yith-wcan-list,
				&.yith-wcan-color{
					background: #ebedef;
					padding: 15px 20px;
					width: 275px;
					display: none;
					// display: block;
					border-radius: 5px;
					padding-top: 0;
					padding-bottom: 0;
					li{
						border-top: 1px solid #fff;
						margin-bottom: 0;
						margin-left: 0;
						margin-right: 0;
						padding: 12px 0;
						&:first-child(){
							border-top: none;
						}

						a{
							display: block !important;
							padding-left: 0;
							position: relative;
							&:before{
								background: #fff;
								border-radius: 50%;
								border: 1px solid #35495c;
								content: "";
								display: block;
								height: 17px;
								left: auto;
								margin-top: -8px;
								opacity: 1;
								position: absolute;
								right: 0;
								top: 50%;
								width: 17px;
							};
							
						}

						&.chosen{
							a{
								background: none;
								&:before{
									border-color: $color7;
								}
								&:after{
									content: "";
									display: block;
									position: absolute;
									width: 7px;
									height: 7px;
									background: $color7;
									border-radius: 50%;
									right: 0;
									margin-right: 5px;
									top: 50%;
									margin-top: -3px;
								};
							}
						}
					}
				}

				&.yith-wcan-color{
					a{
						text-indent: 1px;
						border: none;
						background: none !important;
						letter-spacing: normal;
						width: auto;
						height: auto;
						&:before,
						&:after{
							display: none;
						}
					}
				}
			}
			li{
				margin-left: 0;
				margin-right: 13px;
			}
		}
	}

	.main{
		main{
			img{
				display: block;
				float: none !important;
				margin-left: auto !important;
				margin-right: auto !important;
			}

			p{
				font-size: 15px;
				line-height: 1.6;
				text-align: justify;
			}

			ul{
				margin-left: 0;
			}

			blockquote{
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}
}


@media (max-width: 490px){
	.top{
		&__cart{
			margin-top: 0;
		}
		.cart-contents{
			background-position: 20px center;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.quickmsg .title{
		font-size: 20px;
	}

	.products{
		display: block;
	}
	.footer .social{
		justify-content: space-around;
		.mess,
		a{
			margin: 0;
		}
	}
}

@media (max-width: 450px){
	.woocommerce-pagination ul.page-numbers{
		flex-wrap: wrap;
	}
	.cats ul li{
		margin: 5px 17px 0 0;
	}
}


@media (max-width: 410px){
	.main{
		main{
			font-size: 14px;
			text-align: justify;
			p{
				line-height: 1.6;
			}
		}
	}
	.top{
		.cart-contents{
			background-position: 12px center;
			padding-right: 10px;
			padding-left: 35px;
			.title{
				display: none !important;
			}
		}
	}

	.timeline{
		font-size: 14px;
	}
	.cd-timeline-block{
		margin-bottom: 50px;
	}
}


@media (max-width: 320px){
	.creators{
		p{
			margin: 5px 0;
		}
	}
}

