@media (max-width: 1600px){
	.error-page{
		.main{
			background-position: -200px 95px;
		}
	}
}

@media (max-width: 1400px){
	.error-page{
		.main{
			background-position: -400px 95px;
		}
	}
}


@media (max-width: 1250px){
	.collection{
		&__title{
			$w: 350px;
			$t: 90px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 36px;
			}
		}
	}


	#gallery-main{
		width: 480px;
		img{
			margin-top: 10%;
			width: auto;
			height: auto
		}
	}
}


@media (max-width: 1180px){
	.error-page{
		.main{
			background-position: -500px 95px;
		}
	}
}



@media (max-width: 1024px){
	.error-page{
		.main{
			background-position: -550px 95px;
		}
		main{
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}




@media (max-width: 991px){
	.error-page{
		.main{
			background: none;
		}
	}

	.subcats ul li{
		width: 33.3%;
	}

	.main{
		.text-contact{
			font-size: 14px;
		}
	}

	.feedback-form{
		margin-left: auto;
		margin-right: auto;
		width: 450px;
	}

	.prevnext{
		font-size: 15px;
	}


	.collection{
		&__title{
			$w: 250px;
			$t: 70px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 28px;
			}
		}
		&__link{
			.more{
				height: 40px;
				width: 135px;
				margin-left: -65px;
			}
			&:hover{
				.more{
					bottom: 35px;
				}
			};
		}
	}


	#gallery-main{
		margin-left: 50px;
	}


	.card-page{
		.breadcrumbs{
			display: none;
		}
	}

}


@media (max-width: 767px){
	.subcats ul li{
		width: 50%;
	}

	.prevnext{
		a{
			&:before{
				margin-top: 0 !important;
				top: 5px !important;
			}
		}
		img{
			display: none;
		}
		.prev,
		.next{
			width: 45%;
		}
	}


	.collection{
		&__title{
			$w: 350px;
			$t: 90px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 32px;
			}
		}
	}

	// card
	#gallery-thumbs{
		display: none;
	}

	#gallery-main{
		margin-left: auto;
		margin-right: auto;
		img{
			margin-top: 0;
		}
	}

	.card__reviews{
		margin-top: 30px;
	}


}


@media (max-width: 575px){
	.main .text-contact{
		display: flex;
		align-items: center;
		flex-direction: column;
	}


	#gallery-main{
		width: 100%;
		img{
			margin-left: auto;
			margin-right: auto;
			width: 360px;
		}
	}

	.card-page{
		.description,
		.articul
		{
			text-align: center;
		}
		.articul{
			margin: 10px 0;
		}

		.to-cart{
			justify-content: center;
		}
		.variations{
			.select_tabs{
				justify-content: center
			}
			&-title{
				text-align: center;
			}
		}

		.reviews-short{
			justify-content: center;
		}

		.text{
			text-align: justify;
		}
	}

	.commentlist .comment{
		margin: 2rem 0;
		&-text{
			display: flex;
			flex-direction: column;
			.meta{
				order: 0;
			}
			.star-rating{
				top: 0;
				order: 1;
				align-self: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.description{
				order : 2;
			}
		}
		.star-rating{
			float: none;
		}
		.meta{
			text-align: center;
		}
	}

	.comment-respond{
		text-align: center;
		.comment-form-rating{
			p{
				text-align: center;				
			}
		}
	}

	#review_form{
		label{
			text-align: left;
		}
		#submit{
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			display: block;
		}
	}
}


@media (max-width: 500px){
	.text-contact{
		text-align: center;
		a{
			display: block;
		}
		img{
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 15px;
			text-align: center;
		}
	}
	.feedback-form{
		width: 100%;
	}

	.main .feedback .sending{
		font-size: 18px;
	}
}


@media (max-width: 450px){
	.collection{
		&__title{
			$w: 300px;
			$t: 70px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 26px;
			}
		}
	}
}


@media (max-width: 420px){
	.subcats ul{
		display: block;
		li{
			text-align: center;
			width: 100%;
		}
	}

	.blog{
		margin-left: 0;
		margin-right: 0;
		.new__item{
			margin-left: 0;
			margin-right: 0;
		}
	}

	.prevnext{
		display: none !important;
	}
}



@media (max-width: 380px){
	.collection{
		&__item{
			margin-bottom: 20px;
		}
		&__title{
			$w: 240px;
			$t: 60px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 24px;
			}
		}
		&__link{
			.more{
				height: 35px;
				width: 125px;
				font-size: 13px;
			}
			&:hover{
				.more{
					bottom: 25px;					
				}
			}
		}
	}
}