@media (max-width: 1600px){
	.error-page{
		.main{
			background-position: -200px 95px;
		}
	}
}

@media (max-width: 1400px){
	.error-page{
		.main{
			background-position: -280px 95px;
		}
	}
}


@media (max-width: 1250px){
	.collection{
		&__title{
			$w: 350px;
			$t: 90px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 36px;
			}
		}
		&__item a img{
			height: auto;
		}
	}


	#gallery-main{
		width: 480px;
		img{
			margin-top: 10%;
			width: auto;
			height: auto
		}
	}

	#review_form{
		.sending,
		.thank{
			width: 285px;
		}
	}

	.listnews{
		.new__item{
			width: 29%;
		}
		.new__pic{
			img{
				width: 100%;
			}
		}
	}
}


@media (max-width: 1180px){
	.error-page{
		.main{
			background-position: -500px 95px;
		}
	}
}



@media (max-width: 1024px){
	.error-page{
		.main{
			background-position: -550px 95px;
		}
		main{
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.qty{
		input{
			border: 1px solid #ccc;
		}
	}
}




@media (max-width: 991px){
	.error-page{
		.main{
			background: none;
		}
	}


	#yith-woo-ajax-reset-navigation-2{
		width: 100%;
	}

	.subcats ul li{
		width: 33.3%;
	}

	.main{
		.text-contact{
			font-size: 14px;
		}
	}

	.feedback-form{
		margin-left: auto;
		margin-right: auto;
		width: 450px;
	}

	.prevnext,
	.post-navigation{
		font-size: 15px;
	}



	.collection{
		&__title{
			$w: 250px;
			$t: 70px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 28px;
			}
		}
		&__link{
			.more{
				height: 40px;
				width: 135px;
				margin-left: -65px;
			}
			&:hover{
				.more{
					bottom: 35px;
				}
			};
		}
	}


	#gallery-main{
		margin-left: 50px;
	}


	.card-page{
		.breadcrumbs{
			display: none;
		}

		.card__reviews{
			margin-top: 25px;
		}
	}


	// cart
	.woocommerce-cart .woocommerce-cart-form__contents{
		font-size: 14px;
	}

	#review_form{
		.sending,
		.thank{
			left: 50%;
			margin-left: -180px;
			width: 360px;
		}
	}


	.listnews{
		.new__item{
			margin-left: 40px;
			margin-right: 30px;
			width: 40%;
		}
		.new__pic{
			img{
				width: 100%;
			}
		}
	}

	// checkout
	.checkout-list{
		#order_review_heading{
			order: 0;
		}
		.woocommerce-checkout-review-order{
			// display: block;
		}
	}

	.woocommerce-shipping-totals.shipping{
		td{
			padding-top: 0;
		}
	}
	.woocommerce-checkout-payment{
		margin-top: 0;
	}

}




@media (max-width: 767px){
	.subcats ul li{
		width: 50%;
	}

	.about{
		text-align: center;
	}

	.prevnext,
	.post-navigation{
		a{
			&:before{
				margin-top: 0 !important;
				top: 5px !important;
			}
		}
		img{
			display: none !important;
		}
		.prev,
		.next,
		.nav-previous,
		.nav-next{
			width: 45%;
		}
	}


	.collection{
		&__title{
			$w: 350px;
			$t: 90px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 32px;
			}
		}
	}


	#yith-woo-ajax-navigation-2{
		justify-content: flex-start !important
	}

	// card
	#gallery-thumbs{
		display: none;
	}

	#gallery-main{
		margin-left: auto;
		margin-right: auto;
		img{
			margin-top: 0;
		}
	}

	.card__reviews{
		margin-top: 30px;
	}


	// cart

	.woocommerce-cart .product-quantity .wac-quantity{
		margin-right: 30px;
	}

	.woocommerce-cart .woocommerce-cart-form__contents,
	.woocommerce-table--order-details
	{
		border-collapse: separate;
		width: 100%;
		tr{
			display: block;
			margin-bottom: 25px;
			position: relative;
		}
		th{
			display: none !important;
		}
		td{
			display: block !important;
			padding-left: 0 !important;
			text-align: right !important;
			&.product{
				&-name{
					text-align: left !important;
					padding-right: 35px;
					a{
						font-size: 16px;
					}
				}
				&-thumbnail{
					display: none !important;
				}
				&-remove{
					float: right;
					width: auto;
					position: absolute;
					top: -10px;
					right: 0;
					border: none !important;
					padding: 0;
				}
			}
			&:before{
				content: attr(data-title);
				display: block;
				// float: left;
				font-weight: 700;
			}
		}

		.wc-item-meta{
			li, p{
				font-size: 13px;
			}
		}
		.variation,
		.wc-item-meta{
			// justify-content: flex-end;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.woocommerce-cart-form__cart-item{
		td.product-name{
			text-align: left !important;
			a{
				display: block;
				// margin-left: 93px;
			}
			.variation{
				justify-content: flex-start;
				// margin-left: 93px;
			}
		}
	}

	.woocommerce-table--order-details{
		td.product-name{
			padding-right: 10px !important;
		}
	}

	.woocommerce-checkout-payment-md{
		margin-bottom: 10px;
	}


	// .woocommerce-cart .woocommerce-cart-form__contents .screen-reader-text,
	.woocommerce-cart .woocommerce-cart-form__contents .woocommerce-Price-currencySymbol{
		display: inline-block !important;
	}

	#payment{
		margin-bottom: 20px;		
	}


	.cart_totals{
		margin-top: 15px;
		.shop_table{
			margin-right: 15px;
		}
		.cart__bottom{
			margin-top: 40px;
		}
	}


	.cart_totals .wc-proceed-to-checkout .checkout-button{
		margin-right: 0;
	}





	.checkout-list .woocommerce-checkout-review-order{
		display: flex;
		flex-direction: column;
	}

	@supports (display:contents) { 
		.checkout-list .woocommerce-checkout-review-order{
			display: contents;
		}

		#payment{
			margin-top: 1rem;
			margin-bottom: 0;
		}

		.woocommerce-additional-fields{
			margin-top: 25px;
		}
	}



	.listnews{
		.new__item{
			margin-left: auto;
			margin-right: auto;
			width: 260px;
		}
	}


	.wp-block-gallery.columns-4{
		margin-left: 0;
		.blocks-gallery-item{
			width: calc(50% - 15px) !important;
			margin-left: 5px !important;
			margin-right: 5px !important;
			flex-grow: 0;
			img{
				min-height: 150px 
			}
		}
	}
}


@media (max-width: 650px){
	.main .card-page{
		text-align: center;
		.variable-items-wrapper{
			justify-content: center
		}

		.gallery{
			.d-flex{
				justify-content: center;
			}
		}

		.pluso{
			justify-content: center;
		}
	}

	.woo-variation-gallery-wrapper .woo-variation-gallery-thumbnail-slider,
	.woo-variation-gallery-pro .woo-variation-gallery-thumbnail-wrapper{
		display: flex;
		justify-content: center;
	}
}


@media (max-width: 575px){
	.main .text-contact{
		display: flex;
		align-items: center;
		flex-direction: column;
	}


	#gallery-main{
		width: 100%;
		img{
			margin-left: auto;
			margin-right: auto;
			width: 360px;
		}
	}

	.card-page{
		.description,
		.articul
		{
			text-align: center;
		}
		.articul{
			margin: 10px 0;
		}

		.to-cart{
			justify-content: center;
		}
		.variations{
			.select_tabs{
				justify-content: center
			}
			&-title{
				text-align: center;
			}
		}

		.reviews-short{
			justify-content: center;
		}

		.text{
			text-align: justify;
		}
	}

	.commentlist .comment{
		margin: 2rem 0;
		&-text{
			display: flex;
			flex-direction: column;
			.meta{
				order: 0;
			}
			.star-rating{
				top: 0;
				order: 1;
				align-self: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.description{
				order : 2;
			}
		}
		.star-rating{
			float: none;
		}
		.meta{
			text-align: center;
		}
	}

	.comment-respond{
		text-align: center;
		.comment-form-rating{
			p{
				text-align: center;				
			}
		}
	}

	#review_form{
		label{
			text-align: left;
		}
		#submit{
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			display: block;
		}
	}

	// collections
	.visual{
		img{
			height: 200px;
			width: auto;
			object-fit: cover;
			object-position: center
		}
	}
}


@media (max-width: 500px){
	.text-contact{
		text-align: center;
		a{
			display: block;
		}
		img{
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 15px;
			text-align: center;
		}
	}
	.feedback-form{
		width: 100%;
	}

	.main .feedback .sending{
		font-size: 18px;
	}


	.wp-block-gallery.columns-4{
		margin-left: 0;
		.blocks-gallery-item{
			width: 100% !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
			img{
				min-height: 150px 
			}
		}
	}
}


@media (max-width: 450px){
	.collection{
		&__title{
			$w: 300px;
			$t: 70px;
			margin-left: -$w/2;
			height: $t;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 26px;
			}
		}
	}

	// cart
	.cart_totals{
		.shop_table{
			align-self: center
		}
		.cart__bottom{
			display: block !important;
			.back{
				margin-right: 0;
				margin-bottom: 15px;
			}
			.wc-proceed-to-checkout{
				.checkout-button{
					width: 100% !important;					
				}
			}
		}
	}
}


@media (max-width: 420px){
	.subcats ul{
		display: block;
		li{
			text-align: center;
			width: 100%;
		}
	}

	.listnews{
		margin-left: 0;
		margin-right: 0;
		.new__item{
			margin-left: 0;
			margin-right: 0;
		}
	}

	.prevnext,
	.post-navigation{
		display: none !important;
	}


	#review_form{
		.sending,
		.thank{
			font-size: 18px;
			left: 50%;
			margin-left: -150px;
			width: 300px;
		}
	}



	// checkout
	.main .woocommerce form .woocommerce-billing-fields .form-row,
	.woocommerce-additional-fields .notes{
		display: block !important;
		label{
			margin-bottom: 5px;
		}
		input.input-text {
			height: 40px;
		}
	}

	.checkout-list .woocommerce-checkout-review-order-table{
		display: block !important;
		tbody,
		tfoot{
			display: block;
		}
		th{
			display: none !important;
		}
		tr{
			display: block;
			td{
				align-items: center;
				display: flex !important;
				font-size: 14px;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
				text-align: right !important;
				&:before{
					font-size: 14px;
					content: attr(data-title);
					font-weight: 700;
					padding-left: 10px;
					padding-right: 10px;
				}
				&.product-name{
					display: block !important;
					padding-bottom: 10px;
					text-align: left !important;
					// justify-content: space-between;
					&:before{
						display: block !important;
						margin-bottom: 10px;
						text-align: left !important;
						width: 100%	
					}
					span{
						display: block; 
						margin-left: 10px;
						width: 100%;
					}

					.variation{
						// margin-left: 10px;
						margin-top: 0;				
					}
				}
				.woocommerce-Price-currencySymbol{
					display: inline !important
				}
			}
			&.cart_item{
				border-bottom: 1px solid #7d8a97
			}
			&.order-total{
				td{
					justify-content: center;
					text-align: center !important;
					.amount{
						margin-left: 5px;
					}
				}
			}

			&.woocommerce-shipping-totals{
				td{
					text-align: center !important;
					display: block !important;
				}
			}
		}

		ul:not(.wp-block-gallery):not(.payment_methods) li{
			padding-left: 0;			
		}
	}

	.woocommerce-additional-fields{
		margin-top: 10px;
		margin-bottom: 15px;
	}


	.products{
		.woocommerce-loop-product__link{
			padding-left: 0;
			padding-right: 0;
		}
		.product {
			.box-default,
			.box-overlay{
				 img{
					width: 100% !important;
					height: auto !important
				}
			}
		}
	}

	.main .card-page .woo-variation-product-gallery{
		width: 100%;
	}

	.woo-variation-gallery-wrapper .wvg-gallery-image.slick-current div img{
		transform: scale(1.5)
	}

	.main .card-page{
		.slick-slider .slick-list{
			// height: 350px;
		}
		.slick-track{
			// height: 350px;
			.wvg-gallery-image{
				padding-top: 15px;
			}
		}
	}
}



@media (max-width: 380px){
	.collection{
		&__item{
			margin-bottom: 20px;
		}
		&__title{
			$w: 240px;
			$t: 60px;
			height: $t;
			margin-left: -$w/2;
			margin-top: -$t/2;
			width: $w;
			h3{
				font-size: 24px;
			}
		}
		&__link{
			.more{
				font-size: 13px;
				height: 35px;
				width: 125px;
			}
			&:hover{
				.more{
					bottom: 25px;					
				}
			}
		}
	}

	.woocommerce-cart-form__cart-item{
		td.product-remove{
			top: -12px;	
		}
		td.product-name{
			padding-right: 0 !important;
			a,
			.variation{
				// margin-left: 65px;
			}
		}
	}
}

@media (max-width: 320px){
	.modal-added .btn-continue{
		padding: 0;
		display: block;
	}

	.main .card-page .submit-wrapper .tooltip{
		width: 125px;
		&:after{
			left: 47%;
		}
	}
}